{% extends "index.html" %}

{% block title %}Listar Autores{% endblock title %}

{% block extrastyles %}
  
{% endblock extrastyles %}

{% block body %}
  {% if autores %}
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Apellidos</th>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Descripción</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for autor in autores %}
          <tr>
            <td>{{ autor.id }}</td>
            <td>{{ autor.apellidos }}</td>
            <td>{{ autor.nombre }}</td>
            <td>{{ autor.nacionalidad }}</td>
            <td>{{ autor.descripcion }}</td>
            <td>
              <a href="{% url 'libro:editar_autor' autor.id %}">Editar</a>
              <a href="{% url 'libro:eliminar_autor' autor.id %}">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
  {% endif %}
{% endblock body %}

{% block extrajs %}
  
{% endblock extrajs %}